@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #FFFFFF; /* Cor hexadecimal invertida */
  --background-start-hex: #22272E; /* Nova cor hexadecimal */
  --background-end-hex: #22272E; /* Nova cor hexadecimal */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #000000; /* Cor hexadecimal invertida para modo escuro */
    --background-start-hex: #22272E; /* Nova cor hexadecimal para modo escuro */
    --background-end-hex: #22272E; /* Nova cor hexadecimal para modo escuro */
  }
}

body {
  color: var(--foreground-hex);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-hex)
    )
    var(--background-start-hex);
}
